{% if status == "success" %}
    <div class="success">Votre paiement a bien été pris en compte. Merci.</div>
{% elseif status == "error" %}
    <div class="error">Une erreur est survenue lors du paiement. Merci de réessayer.</div>
{% endif %}
